<div class="container-fluid">
    <h1 style="font-weight: 400; text-align: center;">Welcome to Myntra!</h1>

    <!-- <ng-template>
        <button mat-button style="display:inline-block; margin-left: 130px;" routerLink="login">
            <mat-icon>login</mat-icon>
            Login
        </button>
    </ng-template> -->
    
    <div class="form-container mat-elevation-z5">
    <h1>Login</h1>
    <form [formGroup]="loginForm" (ngSubmit)="submit()">
        <mat-form-field>
            <input matInput placeholder="Email Address" formControlName="email">
            <mat-error *ngIf="email?.errors?.['required']">
                Email is required 
            </mat-error>
            <mat-error *ngIf="email?.errors?.['email']">
                Email format is invalid 
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Password" formControlName="password" type="password">
            <mat-error *ngIf="password?.errors?.['required']">
                Password is required 
            </mat-error>
        </mat-form-field>
        <div class="center">
            <button mat-raised-button color="primary" type="submit">
                Login
            </button>
        </div>
        
        <br>
        <br>
        <span>New User? Please <a routerLink="/sign-up">Sign Up!</a></span>
    </form>
</div>
</div>

