.card{
    height: 80vh;
    width: 80vh;
    margin: 35px;
    margin-left: 300px;
    padding: 25px;
    border: 1px solid blue;
    
}
.center{
    position: absolute;
    /* top: 50%;
    left: 90%;
    transform: translate(-50%, -50%); */
    margin-top: 35px;
    margin-left: 80px;
    text-align: center;
}
.text{
    font-weight: 400; 
    font-size: large;
    padding-top: 80px;
}
img{
    border-radius: 50%;
    padding-top: 30px;
}