<div class="container center">
    <div class="card"> 
        <div >
            <img  src="../../assets/images/checkout.png" alt="">
            <h4 class="text"><strong> Thank you for shopping with us :)</strong><br>Please visit again soon!</h4>
    
            <!-- <h5 style="font-weight: 400; font-size: large;">Let's fill it now!!!!</h5>
            <button class="btn btn-primary" routerLink="/products">Shop Now</button> -->
        </div>
        <!-- <h4 class="card-title" style="text-align: center; font-size: large;">My Cart</h4> -->
    </div> 
    
</div>
